name: Pester

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: read

jobs:
   test-pwsh:
     strategy:
       fail-fast: false
       matrix:
         platform: [ubuntu-latest, macos-latest, windows-latest]
     runs-on: ${{ matrix.platform }}
     steps:
     - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

     - name: Run Pester tests (pwsh)
       run: |
         dir env:
         Write-host $PSVersionTable.PSVersion.Major $PSVersionTable.PSRemotingProtocolVersion.Minor
         Install-Module -Name Pester -RequiredVersion 5.7.1 -Confirm:$false -Force
         Set-Location -Path .\Tests\
         Invoke-Pester
         if ($Error[0].Fullyqualifiederrorid -eq 'PesterAssertionFailed') {exit 1}
       shell: pwsh

   test-posh:
     runs-on: windows-latest
     steps:
     - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
     - name: Run Pester tests (PowerShell)
       run: |
         Write-host $PSVersionTable.PSVersion.Major $PSVersionTable.PSRemotingProtocolVersion.Minor
         Install-Module -Name Pester -RequiredVersion 5.7.1 -Confirm:$false -Force
         $pesterConfig = New-PesterConfiguration
         $pesterConfig.CodeCoverage.Enabled = $true
         $pesterConfig.CodeCoverage.Path="..\PSSDKMan\"
         $pesterConfig.TestResult.Enabled = $true
         $pesterConfig.Run.PassThru = $true
         Set-Location -Path .\Tests\
         Invoke-Pester -Configuration $pesterConfig | Export-JUnitReport -Path .\testResults.xml
         if ($Error[0].Fullyqualifiederrorid -eq 'PesterAssertionFailed') {exit 1}
       shell: powershell
     - name: Upload coverage reports to Codecov
       uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
       with:
         token: ${{ secrets.CODECOV_TOKEN }}
     - name: Upload test results to Codecov
       if: ${{ !cancelled() }}
       uses: codecov/test-results-action@47f89e9acb64b76debcd5ea40642d25a4adced9f # v1.1.1
       with:
         token: ${{ secrets.CODECOV_TOKEN }}
